@media (max-width: 1150px) {
  .navigation {
    display: block;
    height:  25vh;
    text-align: center;
  }

  .navigation li {
    height: 5vh;
    align-items: center;
  }

  .navigation a {
    font-size: 18px !important;
  }

  .navigation span {
    font-size: 18px !important;
  }

  .img-banner {
    height: 70vh;
  }

  .responsive-banner {
    display: none;
  }

  .wrapper {
    width: 100%;
  }

  .bloc-text-img {
    display: block;
  }

  .bloc-img {
    display: none;
  }

  /*-------PROGRAMME------*/
  .pr-title {
    width: 90%;
  }

  /*-------EGLISE------*/

  .bloc-p {
    width: 90%;
  }

  .bloc-parkings {
    display: block;
  }

  .btn-discover a {
    font-size: 16px;
  }

  .bloc-logo-store {
    width: 100%;
  }

  .bloc-livret {
    width: 90%;
    margin: 80px auto 0 auto;
  }

  /*------LOGER------*/

  .bloc-prez-loger {
    width: 90%;
  }
}
